*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.main_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.entry1 {
    grid-row: 1/7;
    grid-column: 1/5;
    background-color: #eb638b;
}

.entry2 {
    grid-row: 1/5;
    grid-column: 5/7;
    background-color: pink;
}

.entry3 {
    grid-row: 5/7;
    grid-column: 5/7;
    background-color: #ac274f;

}

textarea {
    width: 100%;
    /* Full width of the parent div */
    height: 70%;
    /* Full height of the parent div */
    resize: none;
    /* Prevent resizing if desired */
    padding: 10px;
    /* Optional padding for better text visibility */
    border: 1px solid transparent;
    /* Make border transparent */
    border-radius: 4px;
    /* Optional rounded corners */
    background-color: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
    color: black;
    /* Text color */
}